<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
  </head>
  <body>
    <form action="/search_result" method="GET">
      <input id="search_box" type="text" name="search_text">
      <input type="submit" value="OK" >
    </form>
    <h1>Search bar for <%=shopName%></h1>
    <p>We sell all sorts of drinks</p>
  </body>
</html>
